# Build Directory
build/bin/
build/CMakeFiles
build/include/
build/lib/
build/networks/
build/src
build/tests/
build/cmake*
build/CMake*
build/Makefile

# CMake
bin/
mpc_venv
# Vim c_tags files
c_*
SEAL
*.onnx
.idea/
.vscode/
# *.sh
*.dat
*.npy
*.txt
*Zone.Identifier
*.zip
*.dot
*.csv
*.out
GPU-MPC/experiments/sigma/sigma_offline_online
